<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: left;
        }
    </style>
</head>
<body>
    <div id="home">
        <h1> I AM AISWARYA KRISHNAN</h1><br>
        <p>I am a Python Fullstack developer</p>
        <p>Here is all about myself.</p>
    </div>

    <div id="about">
        <h2>About Myself</h2>
        <h4>Education</h4>
        <p>Heigher studies in NSS HSS Vechoor</p>
        <p>Bachelor's in Swami Saswathikananda college poothotta</p>
        <p>Diploma in Python Fullstack at Synnefo solutions Ernakulam</p>
        <h4>Skills</h4>
        <p>Quick leanerin each languages.</p>
        <p>will do the work at sharp timing with perfection.</p>
        <p>Well developed knowledge in Django, Flask, Restapi.</p>
        <p>Front end knowledge in Css, Html, Bootstrap, Javascript, React.</p>
    </div>

    <div id="projects">
        <h2>Projects</h2>
        <h3>Here are some projects which i have done using technologies like django , flask , react and restapi.</h3>
        <a href="">
         <div>
            <h4>BloomGlow</h4>
            <img src="" alt="jewelery">
            <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
         </div>
        </a>
        <a href="">
            <div>
               <h4>JusticeLink</h4>
               <img src="" alt="judiciary">
               <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
            </div>
           </a>
           <a href="">
            <div>
               <h4>SmartServe</h4>
               <img src="" alt="appliances">
               <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
            </div>
           </a>
           <a href="">
            <div>
               <h4>SailStream</h4>
               <img src="" alt="sails">
               <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
            </div>
           </a>
           <a href="">
            <div>
               <h4>Restapi</h4>
               <img src="" alt="api">
               <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
            </div>
           </a>
           <a href="">
            <div>
               <h4>Employemanagement</h4>
               <img src="" alt="employee">
               <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
            </div>
           </a>
           <a href="">
            <div>
               <h4>MyPortFolio</h4>
               <img src="" alt="aboutme">
               <p>It is an online jewelery shop which is done using the technology og django.and frontend using html,css and bootstrap.</p>
            </div>
           </a>
    </div>
</body>
</html>